/* General styles */
* {
	padding: 0;
	margin: 0;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #393e41;
}

/* Social bar */
.social-bar {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 36px 0 30px 0;
	background: #fdca40;
}
.social-icon {
	margin-right: 25px;
	filter: grayscale(100%);
	transition: 0.15s ease-in-out;
}
.social-icon:hover {
	filter: grayscale(0);
	transform: scale(1.1);
}
.social-icon img {
	min-width: 40px;
}
