@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');
/* General styling */
* {
	padding: 0;
	margin: 0;
}
body {
	background: #ece7d1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}
.search {
	border: 0;
	border-radius: 3px;
	padding: 8px 10px;
	outline: 0;
	font-size: 14px;
}
.results {
	background: white;
	border-radius: 3px;
	margin-top: 8px;
	list-style: none;
}
.result {
	padding: 8px 10px;
	border-bottom: 1px solid #f0f0f0;
}
.result:hover {
	background: #fcfafa;
	cursor: pointer;
}
