@import url('https://fonts.googleapis.com/css?family=Poppins:600&display=swap');
* {
	margin: 0;
	padding: 0;
}
body {
	background: #2e282a;
	min-height: 100vh;
	font-family: 'Poppins';
	color: white;
	text-align: center;
	font-size: 14px;
}
h1 {
	margin-bottom: 32px;
	font-size: 5em;
}
.input-block {
	margin-top: 32px;
	font-size: 2em;
}
.input-block input {
	border: 0;
	border-radius: 5px;
	padding: 10px;
	font-size: 0.8em;
	outline: 0;
	margin-left: 16px;
}
