@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');
* {
	margin: 0;
	padding: 0;
}
body {
	background: #282828;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	color: #818181;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}
.wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 0 20px;
}
.play-button {
	font-size: 2.5em;
	color: #b3b3b3;
	cursor: pointer;
	text-align: center;
	margin-bottom: 24px;
}

/* For tutorial */
.song-timer {
	width: 100%;
	padding: 0 20px;
	display: flex;
	align-items: center;
}
.bar {
	position: relative;
	width: 100%;
	margin: 0 5px;
}
.bar-background,
.bar-current {
	background: #494949;
	height: 10px;
	border-radius: 4px;
}
.bar-current {
	background: #1db954;
	position: absolute;
	width: 20%;
}
.current-time,
.total-time {
	color: #7d7d7d;
}
/* End of tutorial */

.song-details {
	margin-bottom: 40px;
	text-align: center;
}
.song-title {
	color: #fff;
	font-size: 1.5em;
}
