@import url('https://fonts.googleapis.com/css?family=Nunito:600&display=swap');
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Nunito', sans-serif;
	background: #022b3a;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-size: 3em;
	color: white;
	font-weight: 600;
}

.rubber-letter {
	transition: 0.2s ease-in-out color;
}
.rubber-letter:hover {
	display: inline-block;
	cursor: pointer;
	animation: rubberLetter 1s ease-in-out forwards;
	color: #f13030;
}
@keyframes rubberLetter {
	0% {
		transform: scale3d(1, 1, 1);
	}
	30% {
		transform: scale3d(1.25, 0.75, 1);
	}
	40% {
		transform: scale3d(0.75, 1.25, 1);
	}
	50% {
		transform: scale3d(1.15, 0.85, 1);
	}
	65% {
		transform: scale3d(0.95, 1.05, 1);
	}
	75% {
		transform: scale3d(1.05, 0.95, 1);
	}
	100% {
		transform: scale3d(1, 1, 1);
	}
}
