* {
	margin: 0;
	padding: 0;
}

body {
	background: #eaeaea;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.battery-wrapper {
	position: relative;
}
.battery-frame {
	font-size: 70px;
	color: #111;
}
.battery-bar {
	background: #111;
	height: 23px;
	position: absolute;
	top: 50%;
	left: 10px;
	right: 15px;
	transform: translateY(-50%);
	width: 70%;
}
