@import url('https://fonts.googleapis.com/css?family=Nunito:400&display=swap');
* {
	margin: 0;
	padding: 0;
}
body {
	background: #082c34;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
	font-size: 14px;
	padding: 0 30px;
	position: relative;
}

.volume-value {
	font-size: 6em;
	margin-bottom: 70px;
	color: #fff;
	text-shadow: 0 5px 20px rgba(255, 255, 255, 0.1);
	opacity: 0;
	transition: 0.3s linear opacity;
	position: absolute;
	left: 50%;
	top: 20%;
	transform: translateX(-50%);
}
.volume-slider {
	-webkit-appearance: none;
	height: 8px;
	width: 75%;
	outline: none;
	background: #2cff7d;
	border-radius: 5px;
	transition: 0.2s linear all;
	box-shadow: 0 5px 15px rgba(255, 255, 255, 0);
}
.volume-slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	box-shadow: 0px 0px 2px #000000;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: #ffffff;
	cursor: pointer;
}
